.cards {
   display:flex;
   align-items: center;
   flex-direction: column;
   padding-top: 20px;
   @media screen and (min-width: 768px) {
   flex-wrap: wrap;
   justify-content: center;
   flex-direction: row;
   }
   @media screen and (min-width: 1280px) {
      }
   .card {
      margin: 20px;
      padding: 20px;
      background-color: #ff6b08;
      display:flex;
      align-items: center;
      flex-direction: column;
      min-height: 435px;
      flex: 0 0 29%;
         .cardInfoSpetial{
     
         .cardInfo{
            margin: 10px;
            color: #3b4047;
         }
      }
   }
}
