.mainBody {
  margin: 0 auto;
  background-color: #f5f7fa;
      font-family: Montserrat;
      font-weight: 400;
      font-size: 16px;
      line-height: calc(20/16);
  header {
    background-color: #6d7a8d;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: #ff6b08;
      h1 {
      font-family: Abril Fatface;
      font-weight: 600;
      font-size: 34px;
      line-height: calc(38/34);
      margin-bottom: 15px;
      letter-spacing: 2px;
    }
}
  }



